*{
   box-sizing: border-box; 
}

.container {
    border: red dashed 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.modes{
    display:flex;
    border: red dashed 2px;
    justify-content: center;
    align-items: center;
}

.panel{
    display:flex;
    border: red dashed 2px;
    justify-content: center;
    align-items: center;

    
}

.button-container {
    display:grid;
    border: red dashed 2px;
    grid-template-columns: 20px 20px 20px 20px;
    grid-template-rows: 20px 20px 20px 20px;
    
}

.inp18{
    grid-row: 4 / 6;
    grid-column: 4 / 5;
}

.inp15{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}